<div class="container">
  <div class="flex">
    <app-hall></app-hall>
    <div>
      <div class="flex">
        <app-kitchen></app-kitchen>
        <app-wash></app-wash>
      </div>
      <div>
        <app-toilet></app-toilet>
      </div>
    </div>
    <app-bedroom></app-bedroom>
  </div>
  <div class="flex">
    <app-porch></app-porch>
    <div>
      <app-dress></app-dress>
      <app-wash></app-wash>
    </div>
    <app-bedroom></app-bedroom>
  </div>
</div>
<!-- <h1>Data binding</h1>
<p>Hello, I am {{name}}</p>
<button (click)="showData($event)">Click here</button><br><br>
<label for="">Email : </label>
<input type="text" [(ngModel)]="email" name="smthn"> <br><br>
<h1>Your email is {{email}}</h1> -->